.copyright{
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}
p{
    /* display: block; */
    margin: 0 auto;
    padding: 0 auto;
}
.main-footer{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #056c6ce8;
    padding: 10px;
}
.foot-ul{
    list-style-type: none;
}
.foot-li:hover{
    opacity: 0.8;
}
.foot-li{
    margin-bottom: 10px;;
}
.foot-li-main{
    font-size: 20px;
    margin-bottom: 12px;
}
.defination-wrapper{
    display: flex;
}
.defination{
    /* justify-content: right; */
    max-width: 500px;
    margin:0;
}
footer{
    margin:0;
}