.home {
  height: 100vh;
  width: 100wh;
  background-color: #056c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-heading {
  font-size: 50px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
  font-weight: 600;
  margin-top: -150px;
}
.clock {
  font-size: 27px;
  font-family: monospace;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
  margin-top: 10px;
}
.join-explore {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.explore-design,
.join-waitlist {
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: #68999f;
  color: #ffffe7;
  cursor: pointer;

  /* height: 30px; */
}
.all-modal{
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button{
  top: 5px;
  right: 5px;
  position: absolute;
  font-size: 15px;
  cursor: pointer;
  color: rgb(172, 172, 172);
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  transition: opacity 0.15s;
}
.close-button:hover{
  opacity: 0.7;
}
.enter-email-text{
  font-size: 30px;

}
.input-fot-email{
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(31, 31, 31);
  color:white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 12px;
  height: 150px;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.submit-button{
  width: 320px;
  padding: 10px 10px;
  font-weight: 500;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.submit-button:hover{
  opacity: 0.8;
}

@media(max-width: 703px){
  .timer-heading{
    font-size: 30px;
  }
}
@media(max-width: 610px){
  .clock{
    font-size: 18px;
  }
}
@media(max-width: 450px){
  .timer-heading{
    font-size: 25px;
  }
  .clock{
    font-size: 15px
  }
}