.image-div{
    width: 400px;
    height: 400px;
    background-size: cover;      /* scale image to cover the div */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
}