:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #056c6c;
  color: #ffffe7;
  margin: 40px 0 0 0;
}
html {
  margin: 0px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

